<style>

input[type=text], input[type=password] {  
        width: 100%;   
        margin: 8px 0;  
        padding: 12px 20px;   
        display: inline-block;
        border: 2px solid blue;
        box-sizing: border-box;
} 
</style>
<div class="card" style="margin:auto; max-width: 700px; margin-top: 40px; border-radius:20px">
   
    <div class="card-header" style="display:flex;opacity: 1;">
        <div style="margin:auto;" class="magic">
            <img src="assets/images/Saly-31.png" style="height: 300px;width: 300px;">
        </div>
        <div style="padding: 50px;">
        <form>
            <h3 class="text-center" style="font-family: 'Roboto Mono';">Login page</h3>
            <div class="form-group">
            <label for="email">Email address</label>
            <input style="width: 300px;" type="text" name="email" class="form-control" placeholder="Enter email" [(ngModel)]="email">
                </div>
            <div class="form-group">
            <label for="password">Enter Password</label>
            <input type="password" style="width: 300px;" name="password" class="form-control" id="password"  placeholder="Password" [(ngModel)]="password">
            </div>
            <button type="submit" class="btn btn-primary" (click)="submit()">Submit</button>
        </form>
 
        <div style="margin:auto; margin-top: 20px;">
            <p>login with google</p>
        <button class="social-signin google btn btn-primary" (click)="signInWithGoogle()">Log in with Google+</button>
    </div>
    </div>
    
    </div>
  
    
</div>