/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import "~bootstrap-icons/font/bootstrap-icons.css";

body{
    max-height: 100vh;
    position:absolute; top:0; bottom:0; right:0; left:0; 
}